{% extends "base.html" %} {%load static%} {% block content %}
<div class="d-flex flex-wrap px-5 pt-3">
  <div class="col-6 align-content-center">
    <h1>Welcome to Car Sell Website</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat hic
      perferendis inventore quasi praesentium a sit nesciunt ut, aliquid, itaque
      laudantium reiciendis ab voluptatibus ratione qui consequatur ducimus? Id
      dolor dolores provident tempora aut ea voluptates exercitationem alias
      dolore quasi omnis quibusdam voluptate amet placeat asperiores libero
      culpa est, enim inventore. Quod ducimus quis iste commodi numquam
      perferendis velit, natus quia voluptatibus? Laborum ea hic repellendus
      nihil eos quae aperiam quis. Id, necessitatibus. Enim repellat nulla, odio
      tempore velit, odit unde nihil corrupti blanditiis molestiae, culpa
      incidunt quasi illum cum. Est atque eum voluptates cumque nesciunt,
      tempore voluptas iure odit?
    </p>
  </div>
  <div class="col-6">
    <img src="{% static 'home.jpg'%}" alt="" />
  </div>
</div>
<div class="p-4">
  <div class="bg-white p-3">
    <h5>All Brand</h5>
    <div class="d-flex flex-nowrap">
      {%for br in brand%}
      <div class="form-check d-flex flex-wrap">
        <input class="form-check-input" type="radio" name="br" id="{{br.id}}" />
        <label class="form-check-label" for="{{br.id}}">
          <a
            href="{%url 'brand_wise_car' br.slug %}"
            class="text-decoration-none text-dark"
          >
            {{br.name}}</a
          >
        </label>
      </div>
      {%endfor%}
    </div>
  </div>
 
    <h4>{{data|length}}results found</h4>
    <div class="row d-flex flex-wrap pt-5">
      {%for car in data%}
      <div class="col-sm-3 mb-3 mb-sm-0">
        <div class="card mx-2">
          <div class="card-body">
            <img src="{{car.image.url}}" class="card-img-top" alt="..." />
            <h5 class="card-title">
              <a
                href="{%url 'details' car.id%}"
                class="text-dark text-decoration-none"
                >{{car.title}}</a
              >
            </h5>
            <p class="card-text">{{car.content|truncatewords:10}}</p>
            <p>
              Brand:{{car.brand.name}}
               
            </p>
           
          </div>
        </div>
      </div>
      {%endfor%}
    </div>
 
</div>
{% endblock %}
